@{
    ViewData["Title"] = "CloudAir";
}


<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

       

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="zoom-in-left">
                    
                    <h4 class="title"><a href="">Airport parking</a></h4>
                    <p class="description">CloudAir in partnership with ParkVia now offers the possibility to pre-book parking spaces. Book online in advance to get a guaranteed parking space at a great price, even on the day of departure, without problems and lost time. Your parking space is booked and paid for in advance, and allows you to relax and enjoy your holiday.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="">Transfer from and to the airport</a></h4>
                    <p class="description">Make your life easier and enjoy transfers from the airport to the city with prices starting at $ 2 / person.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Booking</a> </h4>
                    <p class="description">Book your accommodation and receive back 5% of the hotel reservation price.</p>
                    <a href="https://www.booking.com/index.ro.html">Click here!</a>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="">CloudAir Priority</a></h4>
                    <p class="description">Enjoy the benefits of CloudAir Priority Only CloudAir Priority passengers are allowed to bring an additional troller with a maximum size of 55 × 40 × 23 cm in the cabin, in addition to free hand luggage (max. 40×30×20 cm ).</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
                    <h4 class="title"><a href="">Flight insurance</a></h4>
                    <p class="description">If a flight is canceled or postponed due to technical defects or weather conditions, we guarantee the return of the value of the ticket purchased.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
                    <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
                    <h4 class="title"><a href="">Discount for children</a></h4>
                    <p class="description">If you are traveling with children (under 12 years) we offer a 50% discount on the ticket value.</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->
