
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loginbox">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder=" user name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email" />
            <button>Create</button>
          
        </form>

        </div>
    </div>

